<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController as navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> TMD Test Task
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</nav>
