<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row" ng-controller="MainController as mainCtrl">
    <div class="col-md-12">
      <table ng-table-resize data-resizable-columns-id="demo-table" class="table table-hover table-bordered">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>First brewed</th>
        <th>Food pairing</th>
        </thead>
        <tbody>
        <tr ng-repeat="beer in beers">
          <td>{{ beer.name }}</td>
          <td>{{ beer.description }}</td>
          <td>{{ beer.first_brewed }}</td>
          <td>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="pairing in beer.food_pairing">
                {{pairing}}
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p></p>
  </div>

</div>
